@use "./mixins/flex";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-section {
  flex: 3;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  max-height: 600px;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.suggestion {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.suggestion img {
  width: 120px;
  height: 90px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.info h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.info p {
  font-size: 12px;
  color: #606060;
}

.info span {
  font-size: 10px;
  color: #909090;
}

.shorts-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
}

.short {
  flex: 0 0 90px;
  text-align: center;
}

.short img {
  width: 90px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.short p {
  font-size: 12px;
  margin-top: 5px;
}

.video-player {
  position: relative;
  width: 100%;
  height: 420px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 8px;
}

.video-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  .caption-overlay {
    background-color: rgba(50, 50, 50, 0.3);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  img {
    height: 100%;
  }
}

.video-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  z-index: 10;
  margin-left: -32px;

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #263238;
    }
  }
}

.video-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;

  .video-progress {
    align-self: flex-end;
    width: 100%;
    height: 5px;
    background-color: #263238;
    position: relative;
    cursor: pointer;

    .progress-bar {
      width: 180px;
      height: 100%;
      background-color: #ff3d00;
    }
  }
}

.controls {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;

  .icon-left,
  .icon-right {
    display: flex;
    align-items: center;

    i.m-icons {
      margin-right: 5px;
    }

    p {
      margin: 0;
    }
  }

  .icon-right {
    justify-content: flex-end;

    i.m-icons {
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-details {
  padding: 10px;
  width: 100%;

  .video-title {
    font-size: 12px;
    font-weight: 600;
  }

  .video-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .channel-profile-image {
      height: 40px;
      width: 40px;
      min-width: 40px;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }
}

.channel-name {
  font-size: 10px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;

  p {
    color: #ebebeb;
  }
}

.channel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;

    &:first-child {
      background-color: #d9d9d9;
      color: #242424;
    }
  }
}

.video-description {
  margin-top: 20px;
}

.comments-section {
  margin-top: 20px;
}

.comments-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.comment-input {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment-input .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-input textarea {
  width: 100%;
  min-height: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  resize: none;
  background-color: #212121;
}

.comment-input .comment-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-input .cancel-btn,
.comment-input .comment-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.comment-input .cancel-btn {
  background-color: transparent;
  color: #606060;
}

.comment-input .comment-btn {
  background-color: #787878;
}

.comment-list .comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment .comment-details {
  flex-grow: 1;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-header .username {
  font-size: 14px;
  font-weight: 600;
}

.comment-header .time {
  font-size: 12px;
  color: #606060;
}

.comment-text {
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.comment-actions {
  display: flex;
  gap: 15px;
}

.like-btn,
.reply-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #606060;
}

.like-btn:hover,
.reply-btn:hover {
  color: #000;
}

.sidebar-active {
  background-color: #212121;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
}
.sidebar-actions button {
  margin-top: 20px;
  background-color: #d3cccc;
  color: #1f1e1e;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
